<div style="display: flex;flex-direction: column">
  <div style="display: flex; flex-direction: row;justify-content: start;">
    <mat-icon class="mat-18">add</mat-icon>
    <span class="mr-1">Patricia Ernest</span>
    <span>11:12</span>

  </div>
  <div style="display: flex;flex-direction: row; justify-content: start;">
    <div
      style="box-sizing: border-box;background: #008CFE;color: #E4E9EE; width: 524px;height: auto;   border: 1px solid #E4E9EE; ">
      <mat-card-content>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna
        aliqua. Id aliquet lectus proin nibh nisl. Suspendisse faucibus interdum posuere lorem ipsum dolor sit amet
        consecteturg.
        Text content
      </mat-card-content>

    </div>
  </div>
</div>