@font-face {
  font-family: 'Along Sans';
  src: url('../assets/fonts/along_sans/AlongSanss2-Black.otf');
}

@font-face {
  font-family: 'Along Sans';
  src: url('../assets/fonts/along_sans/AlongSanss2-BlackItalic.otf');
  font-style: italic;
}

@font-face {
  font-family: 'Along Sans';
  src: url('../assets/fonts/along_sans/AlongSanss2-Bold.otf');
  font-weight: bold;
}

@font-face {
  font-family: 'Along Sans';
  src: url('../assets/fonts/along_sans/AlongSanss2-BoldItalic.otf');
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: 'Along Sans';
  src: url('../assets/fonts/along_sans/AlongSanss2-ExtraBold.otf');
  font-weight: bolder;
}

@font-face {
  font-family: 'Along Sans';
  src: url('../assets/fonts/along_sans/AlongSanss2-ExtraBoldItalic.otf');
  font-style: italic;
  font-weight: bolder;
}

@font-face {
  font-family: 'Along Sans';
  src: url('../assets/fonts/along_sans/AlongSanss2-Light.otf');
  font-weight: light;
}

@font-face {
  font-family: 'Along Sans';
  src: url('../assets/fonts/along_sans/AlongSanss2-LightItalic.otf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Along Sans';
  src: url('../assets/fonts/along_sans/AlongSanss2-ExtraLightItalic.otf');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Along Sans';
  src: url('../assets/fonts/along_sans/AlongSanss2-Light.otf');
  font-weight: 300;

}


@font-face {
  font-family: 'Along Sans';
  src: url('../assets/fonts/along_sans/AlongSanss2-Heavy.otf');
  font-weight: 900;

}

@font-face {
  font-family: 'Along Sans';
  src: url('../assets/fonts/along_sans/AlongSanss2-HeavyItalic.otf');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Along Sans';
  src: url('../assets/fonts/along_sans/AlongSanss2-Medium.otf');
  font-weight: 500;
}

@font-face {
  font-family: 'Along Sans';
  src: url('../assets/fonts/along_sans/AlongSanss2-MediumItalic.otf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Along Sans';
  src: url('../assets/fonts/along_sans/AlongSanss2-Regular.otf');
  font-weight: 400;
}

@font-face {
  font-family: 'Along Sans';
  src: url('../assets/fonts/along_sans/AlongSanss2-RegularItalic.otf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Along Sans';
  src: url('../assets/fonts/along_sans/AlongSanss2-SemiBold.otf');
  font-weight: 600;
}

@font-face {
  font-family: 'Along Sans';
  src: url('../assets/fonts/along_sans/AlongSanss2-SemiBold.otf');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Along Sans';
  src: url('../assets/fonts/along_sans/AlongSanss2-Thin.otf');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Along Sans';
  src: url('../assets/fonts/along_sans/AlongSanss2-ThinItalic.otf');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Jost';
  src: url('../assets/fonts/jost/Jost-Black-BF63dc52ccbba90.ttf');
}

@font-face {
  font-family: 'Jost';
  src: url('../assets/fonts/jost/Jost-BlackItalic-BF63dc52d2ad65f.ttf');
  font-style: italic;
}
